data/*
data
data/processed_data/*
data/Wiki*
checkpoints
checkpoints/
err_*
out_*
stage3*/
stage3*
test_run_*
test_run*
ccc_logs
ccc_logs/*
predictions/*
test_answers*
challenge_*
challenge_*/
*.json
predicitons/*.json
