backcall==0.2.0
beautifulsoup4==4.9.3
blingfire==0.1.7
boto3==1.16.47
botocore==1.19.47
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
dataclasses==0.8
dateparser==1.0.0
decorator==4.4.2
deepspeed==0.3.16
dill==0.3.3
filelock==3.0.12
fuzzywuzzy==0.18.0
gdown==3.12.2
idna==2.10
importlib-metadata==3.7.3
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
jmespath==0.10.0
joblib==1.0.0
kiwisolver==1.3.1
matplotlib==3.3.4
ninja==1.10.0.post2
nlp==0.4.0
nltk==3.5
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1607937291322/work
nvidia-ml-py3==7.352.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging==20.9
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1609627764781/work
prettytable==2.0.0
prompt-toolkit==3.0.16
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.7.0
pyarrow==3.0.0
Pygments==2.8.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
regex==2020.11.13
requests==2.25.1
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.1
sentence-transformers==1.1.0
sentencepiece==0.1.91
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
soupsieve==2.2
tensorboardX==1.8
threadpoolctl==2.1.0
tokenizers==0.7.0
torch==1.8.1+cu111
torch-scatter==2.0.6
torchaudio==0.8.1
torchsampler @ https://github.com/ufoym/imbalanced-dataset-sampler/archive/master.zip
torchvision==0.9.1+cu111
tqdm==4.55.0
traitlets==4.3.3
transformers==4.5.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
wcwidth==0.2.5
xxhash==2.0.0
zipp==3.4.1
